main {
    padding: 40px;
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    border-bottom: 2px solid #000;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 12px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}