main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 18rem);
    /* Para que no flote en el aire */
    padding: 2rem 0;
}

.carrusel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.carrusel-ventana {
    width: 600px;
    /* Ancho fijo para todas */
    height: 400px;
    /* Alto fijo para todas */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Un toque de sombra para que no sea tan plano */
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Recorta la foto para que llene el 600x400 sin deformarse */
}

.flecha {
    background: none;
    border: none;
    font-size: 5rem;
    cursor: pointer;
    color: black;
    transition: color 0.3s;
    line-height: 1;
}

.flecha:hover {
    color: rgb(178, 178, 178);
    /* Tu hover gris del header */
}