#menu-toggle {
    cursor: pointer;
}

#menu-hamburguesa {
    display: none;
    flex-direction: row;
    background-color: white;
    align-items: center;
    margin-left: 5rem;
    gap: 1.5rem;
}

#menu-hamburguesa a {
    padding: 0rem 10rem;
    border-bottom: 1px solid white;
    font-size: 1.2rem;
}

#menu-hamburguesa a:last-child {
    border-bottom: none;
}

.material-symbols-outlined {
    font-size: 3rem;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

img {
    width: 5rem;
}