header {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.503);
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

a:hover {
    color: rgb(178, 178, 178);
}

header img {
    width: 8rem;
}

footer {
    box-shadow: 1px -3px 5px rgba(0, 0, 0, 0.503);
    display: flex;
    justify-content: center;
    gap: 10rem;
}