header {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.503);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

a:hover {
    color: rgba(50, 54, 72, 0.36);
}

header img {
    width: 10rem;
}

footer {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.503);
    display: flex;
    justify-content: space-between;
}